.nav{
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  height:40px;
  width: 100%;
  border-radius: 20px;
  
}
.menu{
  width:20px;
  height:20px;
  padding-left: 20px;
  padding-right: 20px;
}

.lup{
  width:20px;
  height:20px;
  padding-left: 20px;
  padding-right: 20px;
}
.space{
  display:flex;
  
  padding-left: 20px;
  padding-right: 20px;
}
.button{
  
  margin-left: 20px;
  margin-right: 20px;
  width: fit-content;
  height:30px;
  padding-left: 20px;
  padding-right: 20px;

  
}
.logo{
  display:flex;
  height:30px;
}

.main{
  height: auto;
  display:grid;
  grid-template-columns: repeat(8,1fr);

}

.title-article {
grid-column: 3/6;
}

.img-container {
grid-column: 2/8;
grid-row: auto;
margin: 2px 2px;
}

.img-article{
width: 100%;
}

.img-description {
grid-column: 2/8;
font-size: 15px;
margin-top: 5px;
}

.main-article {
grid-column: 3/7;
font-size: 20px;
margin-right: 10px;
}

.figures{
display: grid;
grid-template-columns: repeat(6,1fr);
grid-template-rows: auto;
}

.img-figures{
grid-column: 2/3;
}

.p-img-figures {
grid-column: 2/6;
}

.fig-one {
grid-column: 2/3;
width: 100%;
height: 140px;
}

.fig-two {
grid-column: 3/4;
width: 100%;
height: 140px;
}

.fig-three {
  grid-column: 4/5;
  width: 100%;
  height: 140px;
}

.fig-four {
  grid-column: 5/6;
  width: 100%;
  height: 140px;
}

.fig-descriptions {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: auto;
  font-size: 14px;
}
.descr-one {
  grid-column: 2/3;
  font-size: 14px;
}

.descr-two {
  grid-column:3/4;
  font-size: 14px;
}

.descr-three {
  grid-column: 4/5;
  font-size: 14px;
}

.descr-four {
  grid-column:5/6;
  font-size: 14px;

}

.author {
  grid-column: 2/4;
  font-size: 14px;
}

.author-line {
  margin-top: 40px;
  grid-column: 2/3;
  width: 30%;
}

.author-name {
  grid-column: 2/3;
}

.contain-button-logos {
  display: flex;
}

 .contain-button {
  width: 48%;
}
.button615 {
    width: 100%;
}
.logos-nextbutton {
    width: 48%;
}
